{"swagger":"2.0","info":{"version":"1.0.0","title":"The Dog API","description":"![image](https://www.clipartkey.com/mpngs/m/40-405806_bull-terrier-siberian-husky-pug-puppy-clip-art.png)\n## How do i get access?\nJust signup for an API Key from https://thedogapi.com for free. We're looking forward to seeing what you build!"},"host":"api.thedogapi.com","basePath":"/v1","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/images/search":{"get":{"summary":"/images/search","description":"Searchs all approved images","operationId":"SearchImages","parameters":[{"name":"size","default":"med","in":"query","type":"string","required":true},{"name":"mime_types","default":"jpg","in":"query","type":"string","required":true},{"name":"format","default":"json","in":"query","type":"string","required":true},{"name":"has_breeds","default":"true","in":"query","type":"string","required":true},{"name":"order","default":"RANDOM","in":"query","type":"string","required":true},{"name":"page","default":"0","in":"query","type":"string","required":true},{"name":"limit","default":"1","in":"query","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"url":{"type":"string","description":"url"},"width":{"type":"integer","format":"int32","description":"width"},"height":{"type":"integer","format":"int32","description":"height"},"mime_type":{"type":"string","description":"mime_type"},"breeds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"name":{"type":"string","description":"name"},"weight":{"type":"string","description":"weight"},"height":{"type":"string","description":"height"},"life_span":{"type":"string","description":"life_span"},"breed_group":{"type":"string","description":"breed_group"}}},"description":"breeds"},"categories":{"type":"array","items":{},"description":"categories"}}}}},"401":{"description":"401","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"url":{"type":"string","description":"url"},"width":{"type":"integer","format":"int32","description":"width"},"height":{"type":"integer","format":"int32","description":"height"},"mime_type":{"type":"string","description":"mime_type"},"breeds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"name":{"type":"string","description":"name"},"weight":{"type":"string","description":"weight"},"height":{"type":"string","description":"height"},"life_span":{"type":"string","description":"life_span"},"breed_group":{"type":"string","description":"breed_group"}}},"description":"breeds"},"categories":{"type":"array","items":{},"description":"categories"}}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"x-api-key"}},"security":[{"API Key":[]}],"tags":[]}